<head>
	<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<div class = "border1">
<ul>
	<li>
	<a href="/">Home</a>
	</li>
	<li>
	<a href="https://www.google.com" target=blank>
		Sams Programming knowledge</a>
	</li>
	<li class="active">
	<a href="/inventory">Inventory</a>
	</li>
</ul>
</div>

<div align="center">
	<table>
		 	<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Stock</th>
			</tr>
		<% @products.each do |product| %>
			<tr>
			  <td> <%= product[:id] %> </td>
			  <td> <%= product[:name] %> </td>
			  <td> <%= product[:price] %> </td>
			  <td> <%= product[:stock] %> </td>
			</tr>
		<% end %>
	</table>
</div>

<div>
	<form method="POST">
		<div>
			<label>Product ID</label>
			<input autocomplete="off" type="text" name="id">
		</div>

		<div>
			<label>Product Name</label>
			<input autocomplete="off" type="text" name="name">
		</div>

		<div>
			<label>Price</label>
			<input type="text" name="price">
		</div>

		<div>
			<label>Stock</label>
			<input type="text" name="stock">
		</div>

		<div>
			<input type="submit" value="Add new product">
		</div>
	</form>
</div>



